/bin/
.idea/
TheStudismeTheory/.classpath
TheStudismeTheory/.project
TheStudismeTheory/.settings/org.eclipse.core.resources.prefs
TheStudismeTheory/.settings/org.eclipse.jdt.core.prefs
TheStudismeTheory/.settings/org.eclipse.m2e.core.prefs
TheStudismeTheory/src/main/main.iml
